# Core AI Libraries
torch          # PyTorch for deep learning
tensorflow     # TensorFlow for deep learning
tf-keras       # Keras as a high-level API for TensorFlow

# NLP and Transformers
transformers   # Hugging Face Transformers library
huggingface_hub # Integration with Hugging Face Hub
sentence-transformers  # Sentence Transformers for text embeddings (used in featurization)

# Database and Vector Search
pymongo        # MongoDB client library
qdrant-client  # Client for Qdrant vector database

# Experiment Management
clearml       # ClearML for experiment tracking and orchestration

# Web Framework and Uvicorn for FastAPI
FastAPI     # FastAPI for building APIs
uvicorn     # Uvicorn as an ASGI server for FastAPI

# GitHub Integration
PyGithub      # GitHub library for API integration

# Youtube Integration
youtube-transcript-api

beautifulsoup4

tqdm

gradio
